.dashboard {
  width: 960px;
  margin: 0 auto;

  .switch {
    display: flex;
    justify-content: center;
  }

  .main_content {
    width: 630px;
    height: 85vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
