.demo_switch {
    position: absolute;
    right: 37px;
    top: 8px;
    z-index: 1;
    cursor: pointer;
    background: white;
}
#demo_switch_contents {
    padding-top: 30px;
}
.demo_user_select {
    padding: 10px;
}