.friends {
    margin-left: 270px;
    margin-top: 25px;
    width: 650px;
}
.title {
    font-size: 30px;
}
.nav_row {
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.nav_row div {
    width: 33%;
    border: 1px solid ;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px; 
    align-items: center;
    height: 50px;
    font-weight: 900;
    color: #2F98D9;
    background-color: rgb(246, 246, 246);
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: none;
}