.friends {
    margin-left: 270px;
    margin-top: 25px;
    width: 650px;
}
.title {
    font-size: 30px;
}
.nav_row {
    width: 100%;
    border: 1px solid;
}
.nav_row a {
    width: 33%;
    border: 1px solid;
}