/* .landing_page {
} */
.call_to_start_session {
 position: relative;

}
/* .call_to_start_session .pic {
    position: relative;
} */
.call_to_start_session .info {
    position: absolute;
    top: 2vw;
    right: 2vw;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    
}
.info .top_line {
    height: 2.5px;
    width: 16vw;
    background-color: white;
    outline: inset;
    margin-left: auto;
}
.info .keep_every_step {
    padding: 20px 0;
    color: white;
    font-size: 5vw;
    font-weight: bolder;
    margin-left: auto;
}
.info .bottom_line {
    height: 2.5px;
    width: 16vw;
    background-color: white;
    outline: inset;
    margin-left: auto;
}
.info .description {
    top:100px;
    padding: 20px 0;
    width: 30vw;
    margin-left: auto;
    text-align: right;
    font-size: 1.6vw;
}
.info a{
    margin-left: auto;
    padding: 8px 0;
}
.info .already_a_member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    padding: 2vw 0;

}
.already_a_member > div:first-of-type {
    font-size: 1.5vw;
    font-style: italic
}
/* .info .landing_app_store {
    width:3vw;
    margin-left: auto;
    display: flex;
    justify-content: space-between
} */
