#nav_bar {
  margin: 15px 0;
  height: 40px;
  width: 100%;
  position: relative;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
#nav_bar ul a {
  padding: 10px;
  color: #6d717a;
  font-size: 14px;
}
#nav_bar ul a:hover {
  color: black;
}
#nav_bar ul a:last-of-type {
  padding-right: 50px;
}
#nav_bar #home_button {
  margin-left: 40px;
  font-weight: bold;
  font-size: 1.5vw;
  letter-spacing: 4px;
}
#nav_bar #home_button:hover {
  color: #6d717a;
}
.login_button,
.signup_button {
  display: inline;
}

.overlay {
  display: inline;
}
.session_buttons {
  display: inline;
}
.nav_menu {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-right: 280px;
  position: relative;
  z-index: 1;
}

.profile_pic {
  height: 40px;
  width: 40px;
  z-index: 1;
  background-color: transparent;
  border: none;
}
#nav_menu_contents {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  right: 0;
}
#nav_menu_contents ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#nav_menu_contents ul div {
  background-color: white;
  display: flex;
  justify-content: center;
  border: solid 1px #6d717a;
  padding: 10px 20px;
  color: #6d717a;
  cursor: pointer;
}
.nav_menu:hover {
  #nav_menu_contents {
    display: block;
  }
}
.hide {
  display: none;
}
