#nav_bar{
    margin:0;
    height:40px;
    width: 100%;
    /* position: absolute; */
 }
 #nav_bar ul a {
    padding:10px;
    color: #6d717a;
    font-size: 12px;
 }
 #nav_bar ul a:hover {
    color: black;
 }
 #nav_bar ul a:last-of-type {
    padding-right:50px
 }
 #nav_bar #home_button {
    padding-right: 7vw;
    font-weight: bold;
    font-size: 1.5vw;
    letter-spacing: 4px;
 }
 #nav_bar #home_button:hover {
    color: #6d717a;
 }
 .login_button, .signup_button {
     display: inline;
 }

 
.overlay {
    display: inline;
}
/* #overlay:hover {
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    background-color:#000;
    opacity:0.5;
    display: block;
} */