#nav_bar{
    margin:10px 0;
    height:40px;
    width: 100%;
    /* position: absolute; */
 }
 #nav_bar ul a {
    padding:10px;
    color: #6d717a;
    font-size: 12px;
 }
 #nav_bar ul a:hover {
    color: black;
 }
 #nav_bar ul a:last-of-type {
    padding-right:50px
 }
 #nav_bar #home_button {
    padding-right: 7vw;
    font-weight: bold;
    font-size: 1.5vw;
    letter-spacing: 4px;
 }
 #nav_bar #home_button:hover {
    color: #6d717a;
 }
 .login_button, .signup_button {
     display: inline;
 }

 
.overlay {
    display: inline;
}
.session_buttons {
   display: inline;

}
.nav_menu {
   float: right;
   display: flex;
   flex-direction: column;
   justify-content: end;
   margin-right: 280px;
   position: relative;
   background-color: turquoise;
}
.nav_menu_button {
   align-self: flex-end;
   height: 20px;
   width: 20px;
}
.profile_pic {
   height: 60px;
   width: 60px;
   background-color: transparent;
   border: none;
}
.nav_menu_contents {
   position: absolute;
   z-index: 1;
   background-color: brown;
}
.nav_menu_contents ul {
   list-style-type: none;
}
.hide {
   display: none
}