.prospective_friend_index_item {
    box-shadow: #e0e0e0 2px 2px 0;
    width: 100%;
    height: 90px;
    background: #F8F8F8;
    display: flex;
    align-items: center;
}
.prospective_friend_index_item .pic {
    height: 70px;
    width: 70px;
    margin: 0 20px; 
}
.prospective_friend_index_item a {
    color: #2F98D9;
    margin-right: auto;
    font-size: 17px;
}
.send_request {
    color: #808080;
    height: 45px;
    width: 70px;
    border: none;
    background: #ebebeb;
    margin-right: 20px;
}