#session_form {
    font-size: 1.2vw;
}
#session_form > div {
    display:flex;
    flex-direction: column;
    width: 30vw;
    margin:auto
}
#session_form input {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 4vw;
    margin: .75vw 0;
}
.date_input_row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#day_dropdown {
    width: 7.5vw;
    position: relative;
}
#day_dropdown button {
    width: 100%;
    height: 4vw
}
#month_dropdown {
    width: 12.5vw;
    position: relative;
}
#month_dropdown button {
    width: 100%;
    height: 4vw
}
#year_dropdown {
    width: 7.5vw;
    position: relative;
}
#year_dropdown button {
    width: 100%;
    height: 4vw
}
#session_form [id*='_content'] {
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 10px;
    left: -10px;
}
#session_form .show {
    display: flex;
}
.gender_select_row {
    display: flex;
    justify-content: space-between;
    margin: 1vw 0;
}
.gender_select_row button {
    height: 4vw;
}
.gender_select_row #male {
    width: 47.5%
}
.gender_select_row #female {
    width: 47.5%
}
.country_select {
    position: relative;
}
.country_button {
    width: 100%;
    height: 4vw
}
.notification_subscription_row {
    display: flex;
    align-items: center;
    padding: 1vw 0;
}
#session_form .notification_checkbox {
    height: 2vw;
}
#session_form .privacy_and_terms_links {
    text-align: center;
    width: 80%;
    margin: auto;
}
#session_form .submit_session_form {
    width: 30vw;
    margin: 1vw auto;
}