.trek_index_item {
  border-top: 1px solid #c3c2c2;
  display: flex;
  padding: 10px 5px;

  .map_container {
    min-height: 150px;
    min-width: 150px;
  }

  .written_deats {
    width: -webkit-fill-available;
    display: flex;
    align-items: center;

    .distance_and_climb {
      background: linear-gradient(to bottom, #f6f4f4 0, #fbf9f9 100%);
      width: 80px;
      height: fit-content;
      border: 1px solid #c3c2c2;
      color: #999999;
      margin-left: 10px;
    }

    .description {
      font-size: 14px;
      color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: -webkit-fill-available;

      .map_name {
        font-size: 25px;
        margin-bottom: 10px;
        border-bottom: solid 1px #c3c2c2;
      }

      .label {
        margin-bottom: 5px;
      }
    }
  }
}
