.trek_show {
    display: flex;
    flex-direction: row;
    border: solid 1px black;
    width: 845px;
    margin: 0 auto;
    font-size: 12px;
}
.trek_show .main_content {
    border: solid 1px black;
    width: 600px;
}
.distance_and_climb {
    background: linear-gradient(to bottom, #f6f4f4 0, #fbf9f9 100%);
    width: 145px;
    height: fit-content;
    border: 1px solid #c3c2c2;
    color: #999999;
    margin-right: 10px
}
.written_deats {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.the_distance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.the_climb {
    border-top: 1px solid #c3c2c2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.distance_total {
    color: black;
    font-size: x-large;
}
.climb_total {
    color: black;
    font-size: inherit;
}
.description {
    width: 24pc;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    grid-row-gap: 4ch;
    grid-auto-rows: minmax(auto, auto);
}

.trek_show a {
    color: blue;
}
.map_name {
    font-size: 25px;
    padding: 10px 0;
    border-bottom: solid 1px #c3c2c2;
}
.privacy_and_share {
    color: #999999;
    padding: 10px 0;
    border-bottom: solid 1px #c3c2c2;
}
.privacy {
    padding-left: 20px
}
.share {
    width: fit-content;
    margin-left: auto;
}