.user_nav {
    background-color: #f0f2f4;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: center;
    height: 40px;
    border-top: solid 1px #6d717a;
    border-bottom: solid 1px #6d717a;
}
.user_nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 0;
    width: 900px;
}
.user_nav a {
    width: 25%;
    height: 40px;
    color: #6d717a;
    border-left: solid 1px #6d717a;
    border-bottom: solid 2px #6d717a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_nav a:last-of-type {
    border-right: solid 1px #6d717a;
}
.user_nav a:hover {
    color: black;
    border-bottom: solid 2px black;
}
.hide {
    display:none;
}